* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #010313;
    color: #fff;
    /* margin: 100px auto; */
}

li,
a,
button {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

img {
    background: #fff;
    color: #fff;
}


/* Header */

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header {
    margin-bottom: 100px;
}

.logo {
    cursor: pointer;
    font-size: 1.8rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    margin-right: 1.5rem;
}

.nav-links li a:nth-child(5) {
    margin-right: 0;
}

.nav-links li a:hover {
    color: #0088a9;
}

.btn {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.outline {
    padding: 9px 25px;
    border: 2px solid #0088a9;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.outline:hover {
    background-color: #0088a9;
}


/* Hero Section */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

.hero-heading {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 16px;
}

.hero-text {
    line-height: 1.5rem;
    margin-bottom: 48px;
    color: #ccc;
}

.form-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

form input[type="text"] {
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 400px;
    height: 40px;
}

.fill {
    background-color: #2945ff;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}


/* Learn Section */

.learn-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

.learn-heading {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 16px;
}

.learn-text {
    line-height: 1.5rem;
    margin-bottom: 48px;
    color: #ccc;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 200px;
}

.html,
.css,
.javascript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 1.5rem;
    height: 350px;
}

.lang {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.describe {
    color: #ccc;
}


/* How It Works Section */

.how-it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #19103b;
    padding: 1.5rem;
    margin-bottom: 150px;
}

.works {
    margin: 62px 0 74px 0;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 200px;
}

.account,
.authorization,
.set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1.5rem;
    height: 200px;
}

.account p,
.authorization p,
.set p {
    color: #ccc;
}

.how-it-works .fill {
    margin: 50px 0;
}


/* Testimonials Section */

.testimonials {
    text-align: center;
    margin-bottom: 150px;
}

.testimonials h3 {
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonials p {
    line-height: 1.5rem;
    color: #ccc;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


/* .image {
    width: 100%;
    height: 100%;
} */

img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    margin-left: 50px;
}

.fa-arrow-left,
.fa-arrow-right {
    display: inline-block;
}

.fa-arrow-right {
    margin-left: 10px;
}


/* Mailing Section */

.mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

.mail h3 {
    font-size: 2.5rem;
    line-height: 1.5;
}

.mail p {
    line-height: 1.5rem;
    color: #ccc;
    margin-bottom: 30px;
}